/*Import Fonts */
@import url('https://fonts.cdnfonts.com/css/sf-pro-display');


.App {
  text-align: center;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* DATA HANDLER CSS */
#title{
  font-family: 'SF Pro Display', sans-serif ;
  color: rgba(201, 201, 201, 0.979);
}

#font-label{
  font-family: 'SF Pro Display', sans-serif;
                                                
}
 
#userName{
  border-radius: 5px;
  border-width: none;
  height:25px;
   
  
}

#userName:focus{
  outline: none;
}

/* messagedisplay css */

#phoneOutline{
  width: 1000px;
  height: 1000px; 
  /* background-color:#61dafb; */
  background-image: url("iphone_transparent2.png"),url("iphone-message.png");
  background-size: cover;  
  
  object-fit: contain;
}

#userName-phone{
  float:left;
  margin-left: 460px;
  margin-top: 85px;
  font-size: 47px;
  color: white;
  background-image: linear-gradient(rgb(143, 141, 141) , rgb(179, 178, 178));
  width: 70px;
  border-radius: 100px;
   
}
h6{
  float: right;
  margin-left: 466px;
  margin-top: 143px;
  color: rgb(175, 174, 174);
  font-weight: none;
  position: absolute;
  font-size: 18px;
   

}

.tagline{
  /* style elements */
  font-family: 'SF Pro Display', sans-serif;
  font-weight: normal;
  background-color: rgb(45, 154, 231);
  font-size: 22px;

  position: relative; /* Setup a relative container for our psuedo elements */
  max-width: 255px;
  margin-bottom: 15px;
  padding: 10px 20px;
  line-height: 24px;
  word-wrap: break-word; /* Make sure the text wraps to multiple lines if long */
  border-radius: 25px;


  /* sizing */
  width:155px;
  height:30px;
  border-radius: 25px;

  /* positoning */
  float:left;
  margin-left: 510px;
  margin-top: 20px;
  padding: 10px;

  
}
 
 .tagline:before {
    content: '';
    position: absolute;
    height: 20px;
    width: 20px;
    bottom: 0;
    right: -8px;
    background-color: rgb(45, 154, 231);
    border-bottom-left-radius: 15px 14px;
  }


  .tagline:after {
    content: '';
    width: 10px;
    height: 20px;
    position: absolute;
    bottom: 0;
    background-color: white;
    right: -10px;
    border-bottom-left-radius: 10px;
  }

  #summoned-media{
    background-color: blue;
    border-radius: 10px;
     
    width: 300px;
    height: 200px;

    float:left;
     
    margin-top: 200px;
    margin-left: -170px;
    
  
  }